<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/header.ejs") %>
</head>
<body>

    <%- include("../partials/nav.ejs") %>
    <div class="container">
    <h1>Your Workout List</h1>

    <!-- https://stackoverflow.com/questions/1531093/how-do-i-get-the-current-date-in-javascript -->
    <h3><%= new Date().toISOString().slice(0,10)%></h3>
    
        <ul>
            <% exercises.forEach((item, index) => { %>
                <li style="margin-left: 20px;">
                    <a href="/workouts/<%= item._id %>">
                        <%= item.name %>
                    </a>
                </li>   
            <% }) %> 
        </ul>
    </div>
</body>
</html>